
body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    background: #2B2B2B;
    background-size: cover;
  }
  

  .app-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1; /* Permite que el contenido crezca */
    
  }
  
  .banner {
    width: 500px; /* Ancho fijo de la imagen */
    height: 600px; /* Alto fijo de la imagen */
    object-fit: cover; /* Mantiene la proporción de la imagen */
    margin-top: 100px;
  }
  
  .text-container {
    font-family: Work Sans;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra el texto verticalmente */
    align-items: flex-start; /* Alinea el texto a la izquierda */
    color: white; /* Color del texto */
  }
  
  .title {
    font-size: 3rem; /* Tamaño de fuente grande */
    margin: 0 0 10px; /* Margen inferior */
  }
  
  .description {
    font-size: 1.25rem; /* Tamaño de fuente intermedio */
    margin: 0 0 20px; /* Margen inferior */
  }
  
  .button-group {
    display: flex; /* Cambiar a columna */
    flex-direction: column; /* Colocar botones uno debajo del otro */
  }
  
  .random-button, .specific-button {
    font-family: Work Sans;
    border: 1px solid #A259FF; /* Borde violeta */
    border-radius: 5px; /* Bordes redondeados */
    background-color: #3B3B3B; /* Color de fondo gris */
    color: white; /* Texto en blanco */
    font-family: 'Work Sans', sans-serif; /* Misma fuente que el texto */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    margin-bottom: 10px; /* Espacio entre botones */
    transition: background-color 0.3s, border-color 0.3s; /* Transición para el color de fondo y borde */
  }
  
  .random-button:hover, .specific-button:hover {
    background-color: #5a6268; /* Color más oscuro al pasar el mouse */
  }
  