** {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Arial", sans-serif;
}

body {
	background-color: #2b2b2b;
	color: #ddd;
}

.page-container {
	display: grid;
	grid-template-rows: auto 1fr;
	grid-template-columns: 1fr;
}

.image-section {
	width: 100%;
	height: 60vh;
	overflow: hidden;
}

.header-image {
	width: 100vw;
	height: 100%;
	object-fit: cover;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.content-section {
	font-family: Oxanium;
	display: grid;
	grid-template-columns: 60% 35%;
	grid-gap: 5%;
	padding: 20px;
	max-width: 1200px;
	margin: auto;
}

.left-content {
	width: 100%;
}

h1 {
	font-size: 2.5rem;
	margin-bottom: 10px;
}

.release-date {
  font-family: Work Sans;
	font-size: 1rem;
	margin-bottom: 20px;
	color: #aaa;
}

.author {
  font-family: Space Mono;
	font-size: 1.2rem;
	margin-bottom: 10px;
}

.author-name {
	font-weight: bold;
	color: #a259ff;
}

.description {
  font-family: Work Sans;
	font-size: 1rem;
	line-height: 1.6;
	margin-bottom: 30px;
}

.movieName{
  font-family: Work Sans;
}

.extra-details {
	margin-top: 20px;
}

.detail-title {
	font-family: Space Mono;
	font-weight: bold;
	font-size: 1.1rem;
}

.datailsStyle {
	font-family: Work Sans;
	font-weight: bold;
	font-size: 1.1rem;
}

.right-content {
	text-align: right;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.duration-box {
  font-family: Space Mono;
	background-color: #111;
	padding: 20px;
	border-radius: 8px;
	margin-bottom: 20px;
}

.duration-box p {
	margin-bottom: 10px;
	font-size: 1.1rem;
}

.countdown {
  font-family: Space Mono;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	padding: 10px;
	border: 1px solid #111;
	border-radius: 8px;
	background-color: #111;
	width: fit-content;
	margin: 0 auto;
}

.countdown span {
	font-size: 1.5rem;
	font-weight: bold;
}

.countdown p {
	font-size: 0.9rem;
	margin: 0;
}

.discover-button {
	font-family: Work Sans;
	background-color: #8e4dc2;
	color: white;
	border: none;
	padding: 15px 30px;
	font-size: 1.2rem;
	border-radius: 8px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.discover-button:hover {
	background-color: #a259ff;
}

.right-content {
	text-align: center;
	margin-top: 20px;
}

h1 {
	font-size: 2rem;
}

.description {
	font-size: 0.9rem;
}

.discover-button {
	width: 100%;
}
