/* Estilo del footer */
footer {
    position: relative; /* Cambiado a relative para que no esté fijo */
    margin-top: auto; /* Permite que el footer se coloque al final del contenido */
    width: 100%; /* Se estira a lo largo de toda la página */
    background-color: #282c34; /* Color de fondo profesional */
    color: white; /* Texto en blanco */
    text-align: center; /* Alineación central del texto */
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3); /* Sombra para efecto de elevación */
    font-size: 14px; /* Tamaño de fuente profesional */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    padding: 20px 0; /* Espaciado interno */
}

.footer-content {
    display: flex; /* Flexbox para distribución de secciones */
    justify-content: space-between; /* Espacio entre secciones */
    align-items: flex-start; /* Alineación en la parte superior */
    flex-wrap: wrap; /* Permite que las secciones se ajusten en pantallas más pequeñas */
}

.footer-section {
    flex: 1; /* Permite que cada sección ocupe espacio igual */
    margin: 0 20px; /* Margen entre secciones */
}

.footer-section h2 {
    margin-bottom: 5px; /* Espacio debajo del título */
}

.footer-section ul {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0; /* Sin relleno */
}

.footer-section ul li {
    margin: 5px 0; /* Espacio entre elementos de la lista */
}

.footer-section a {
    color: #EF629D; /* Color de los enlaces */
    text-decoration: none; /* Sin subrayado */
}

.footer-section a:hover {
    color: #21a1f1; /* Color al pasar el ratón */
}

.social-media a {
    margin: 0 10px; /* Espacio entre enlaces de redes sociales */
}

.search-input {
    margin-bottom: 20px; /* Espacio entre Buscar por nombre */
    padding: 10px; /* Relleno dentro del campo de búsqueda */
    width: 100%; /* Cambiado a 100% para que se ajuste al contenedor */
    max-width: 200px; /* Ancho máximo del campo de búsqueda */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
}
