/* General */
html, body {
    height: 100%; /* Ocupa la altura total */
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
    width: 100%; /* Ahora ocupa todo el ancho */
}

main {
    padding: 20px;
    
}

/* Footer */
footer {
    background-color: #282c34; /* Fondo oscuro */
    color: white;
    text-align: center;
    width: 100%; /* Asegura que el footer ocupe todo el ancho */
    margin-top: auto; /* Empuja el footer al final */
}

.footer-content {
    display: flex;
    justify-content: space-between; /* Espacio entre secciones */
    align-items: flex-start;
    flex-wrap: wrap; /* Ajusta en pantallas pequeñas */
    padding: 0 20px; /* Espaciado lateral */
    max-width: 1200px; /* Ajusta este valor según lo desees */
    margin: 0 auto; /* Centra el contenido */
}

.footer-section {
    flex: 1;
    margin: 10px; /* Espacio entre secciones */
}

.footer-section h2 {
    margin-bottom: 10px;
}

.footer-section a {
    color: #EF629D;
    text-decoration: none;
    margin: 10px; /* Espacio entre secciones */

}

.footer-section a:hover {
    color: #21a1f1; /* Color de hover */
}

.search-input {
    padding: 10px;
    width: 100%;
    max-width: 200px;
    border: none;
    border-radius: 5px;
}
