/*fondo*/
body {
    background-color:#2B2B2B;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    color: white; 
}
.root{
    max-width: max-content;
}
/*boton*/
.my-button {
    font-size: 18px;
    background-color:#A259FF;
    color: white;
    outline: 1px solid black; 
    outline-offset: 1px;
    margin: 10px;    
}

/*girlla*/
.grilla {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas: 50% para detalles, 50% para la imagen */
    gap: 20px; /* Espacio entre columnas */
    align-items: center; /* Centrar verticalmente */
}

