/*fondo*/
body {
    background-color:#2B2B2B;
    ;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    color: white; 
}

/*boton*/
.my-button {
    font-size: 18px;
    background-color:#A259FF;
    color: white;
    outline: 1px solid black; 
    outline-offset: 1px;
    margin: 10px;    
}

/*girlla*/
.grilla {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas: 50% para detalles, 50% para la imagen */
    gap: 20px; /* Espacio entre columnas */
    align-items: center; /* Centrar verticalmente */
}

/*loader*/
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

/*Efectos de me gusta o no me gusta*/
@keyframes likeFade {
    0%{
        background-color:  #ff59ff;
        opacity: 1;
      }
      100% {
        background-color: transparent;
        opacity: 0;
      ;
    }
}
@keyframes dislikeFade {
    0%{
        background-color: #FF5A5F;
    opacity: 1;
  }
  100% {
    background-color: transparent;
    opacity: 0;
    }
}
.like {
    animation: likeFade 1s forwards;
}
.dislike {
    animation: dislikeFade 1s forwards;
}