/* App.css */

body {
  font-family: 'Work Sans', sans-serif;
  margin: 0; 
  background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(144, 0, 255, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

.app-container {
  height: 100vh;
  display: flex;
  align-items: center; /* Centra verticalmente el contenido */
  justify-content: space-around; /* Espacia los elementos */
}

.banner {
  width: 500px; /* Ancho fijo de la imagen */
  height: 645px; /* Alto fijo de la imagen */
  object-fit: cover; /* Mantiene la proporción de la imagen */
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra el texto verticalmente */
  align-items: flex-start; /* Alinea el texto a la izquierda */
  color: white; /* Color del texto */
  margin-left: 80px; /* Margen izquierdo para el contenedor de texto */
}

.title {
  font-size: 3rem; /* Tamaño de fuente grande */
  margin: 0 0 10px; /* Margen inferior */
}

.description {
  font-size: 1.25rem; /* Tamaño de fuente intermedio */
  margin: 0 0 20px; /* Margen inferior */
}

.button-group {
  display: flex; /* Cambiar a columna */
  flex-direction: column; /* Colocar botones uno debajo del otro */
}

.random-button, .specific-button {
  padding: 10px 20px; /* Espaciado interno para los botones */
  border: 2px solid violet; /* Borde violeta */
  border-radius: 5px; /* Bordes redondeados */
  background-color: #6c757d; /* Color de fondo gris */
  color: white; /* Texto en blanco */
  font-family: 'Work Sans', sans-serif; /* Misma fuente que el texto */
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
  margin-bottom: 10px; /* Espacio entre botones */
  transition: background-color 0.3s, border-color 0.3s; /* Transición para el color de fondo y borde */
}

.random-button:hover, .specific-button:hover {
  background-color: #5a6268; /* Color más oscuro al pasar el mouse */
}
